@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

@layer utilities {
  .pb-mobile-nav {
    padding-bottom: calc(6.25rem + env(safe-area-inset-bottom));
  }

  @media (min-width: 1024px) {
    .pb-mobile-nav {
      padding-bottom: 0;
    }
  }
}

@media (max-width: 1023px) {
  input,
  select,
  textarea {
    font-size: 16px;
  }
}
